@using BlazorWeb_New.Components.Server;
@using Google.Apis.Services;
@using Google.Apis.YouTube.v3;
@using Google.Apis.YouTube.v3.Data;

@inject YouTubeApiService YoutubeService;


@page "/"

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1 id="Header">Youtube Scanner</h1>

<input id="TextInputBar" type="text" @bind="_searchQuery" placeholder="Channel Name">
<button class="buttons" @onclick="FindQuery">Search</button>

@if (_channelStats != null)
{
    <div>
        <dl>
            <dt>Subscribers</dt>
            <dd>@_channelStats.Subscribers.ToString("N0")</dd>
            <dt>Date Created</dt>
            <dd>@_channelStats.DateCreated.ToString("MMMM dd, yyyy")</dd>
            <dt>Videos</dt>
            <dd>@_channelStats.VideoCount.ToString("N0")</dd>
        </dl>
    </div>
}

@if (_isLoading == true)
{
    <p id="loading-text">Loading...</p>
}

<p>@ErrorWarning</p>

@code {
    private string? _searchQuery;
    //private bool _resultsVisible = false;
    private bool _isLoading;
    
    private ChannelStats? _channelStats;
    
    private string _errorWarning = "";

    private string ErrorWarning
    {
        get => _errorWarning;
        set
        {
            _errorWarning = value;
            InvokeAsync(StateHasChanged);
        }
    }


    private async Task FindQuery()
    {
        if (_searchQuery != null && !string.IsNullOrEmpty(_searchQuery))
        {
            Console.WriteLine(_searchQuery);
            _isLoading = true;
        
            await Task.Delay(2000);
        
            _isLoading = false;

            await FetchChannelData(_searchQuery);
        }
    }
    
    private class ChannelStats
    {
        public long Subscribers { get; set; }
        public DateTimeOffset DateCreated { get; set; }
        public int VideoCount { get; set; }
    }

    private async Task InvalidChannel()
    {
        ErrorWarning = "Invalid Channel ID";
        await Task.Delay(3000);
        ErrorWarning = "";
    }

    private async Task FetchChannelData(string channelName)
    {
        if (!string.IsNullOrEmpty(channelName) && _searchQuery != null)
        {
            try
            {
                var channel = await YoutubeService.GetChannelAsync(_searchQuery);

                if (channel != null)
                {
                    long subscribers = (long)(channel.Statistics.SubscriberCount ?? 0);
                    int videoCount = (int)(channel.Statistics.VideoCount ?? 0);

                    DateTimeOffset dateCreated = channel.Snippet.PublishedAtDateTimeOffset ?? DateTime.Now;
                    
                    Console.WriteLine("Pass");
                    _channelStats = new ChannelStats()
                    {
                        Subscribers = (int)(channel.Statistics.SubscriberCount ?? 0),
                        DateCreated = dateCreated,
                        VideoCount = videoCount
                    };
                }
                else
                {
                    await InvalidChannel();
                }
            } catch (ArgumentException e)  {
                Console.WriteLine(e);
            }
        } else {}
    }
}